:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

@media (min-width: 501px) {}

@media (min-width: 769px) {}

.learn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.learn-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  border: 1px;
  border-radius: 10px;
  padding: 20px;
  background-color: #333333;
}

.learn-options label {
  margin-bottom: 10px;
}

.learn-options select {
  margin: 5px;
  cursor: pointer;
}

.button-container {
  margin-top: 20px;
  border: 2px;
  border-radius: 10px;
  background-color: #333333;
}

button {
  width: 100%;
  padding: 10px;
  border: 1px solid #909090;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:active {
  background-color: #555;
}

button:disabled {
  background-color: #272727;
  cursor: not-allowed;
  color: #777;
}

button:hover {
  background-color: #b5b5b5;
  color: #202020;
}

button:disabled:hover {
  background-color: #272727;
  color: #777;
}

.practice-container {
  width: 100%;
  margin-top: 20px;
  border: 1px;
  border-radius: 10px;
  padding: 20px;
  background-color: #333333;
}

.practice-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

@media (min-width: 769px) {
  .learn-options {
    flex-direction: row;
    justify-content: space-between;
  }

  .learn-options label {
    flex: 1;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .learn-options label:last-child {
    margin-right: 0;
  }
}